<ion-content padding class="background" >
    <br><br><br><br><br>
    <!--TITULO-->
    <H1 align="center" class="titulo" > RECYCLOP </H1>

        <!--CARD    -->
        <div class="centrar">             
             <ion-card >
              
                    <ion-card-content   >
                        <ion-row  > 
                        <ion-item  >
                            <ion-label position="floating" >
                                <ion-icon name="person" > </ion-icon>
                                Nombre de usuario:
                            </ion-label>
                            <ion-input type="text"  ></ion-input>
                        </ion-item>
                                        
                            </ion-row>
                            <ion-row>
                                     <ion-col>
    
                                        <ion-item>
                                            <ion-label position="floating">
                                                <ion-icon name="medical" > </ion-icon>
                                                Contraseña:
                                            </ion-label>
                                            <ion-input type="password" ></ion-input>
                                        </ion-item>
                                     </ion-col>
                            </ion-row>
                            <ion-row class="moverletra">
                                 <a   (click)="presentAlertMultipleButtons()"> ¿Olvidaste tu contraseña?</a >  
                            </ion-row>
                                
                    </ion-card-content>
    
             </ion-card>
    
                   
        </div>
        <ion-grid class="moverboton"  >
    
            <ion-row  > 
                <ion-col  >                         
                                            
                <ion-button class="boton"  color="dark" shape="round"  expand="block" routerLink="welcome">
                Iniciar sesión
                </ion-button>
                </ion-col>
                    
            </ion-row>
    
            <ion-row>
                <ion-col>
              
                </ion-col>
            </ion-row>
    
    
             <ion-row  > 
                <ion-col  >                         
                                            
                <ion-button class="boton"  color="success" shape="round"  expand="block" routerLink="agregar">
                   Registrarse  
                </ion-button>
                </ion-col>
                    
        </ion-row>
        </ion-grid>
        
    
     
    
    </ion-content>