.centrar{
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.boton{
    margin-left: auto;
    margin-right: auto;
}

.moverboton{transform: translateX(-50%) translateY(-50%);
    top: 80%;
    left: 50%;
    position: absolute;

}

.moverboton2{transform: translateX(-50%) translateY(-50%);
    top: 55%;
    left: 50%;
    position: absolute;

}

.background{
    --background: url(src/assets/img/fondo2.jpg) 0 0/100% 100% no-repeat;
}

.colorcard{
    background-color:#96C0C6  ;
    box-shadow: none;
}
.titulo{
    font-size: 64px;
    font-family: fantasy;
    color:#7ED2D5 ;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    
}

.moverletra{
    transform: translateX(5%) translateY(10%);
    top: 50%;
    left: 50%;
   
}