<ion-content padding class="background" >
    <h1 align="center" class="titulo">FORMULARIO </h1>
   <div class ="centrar"> 
    <ion-grid class="completa">
        <ion-row class="completa ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su nombre
                                        </ion-label>
                                        <ion-input type="text" required></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su  apellido
                                        </ion-label>
                                        <ion-input type="text" required></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su nombre de usuario
                                        </ion-label>
                                        <ion-input type="text" required></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su contraseña
                                        </ion-label>
                                        <ion-input type="password" required></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                           
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block"color="success" shape="round" href="welcome">
                                        Registar
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-router-link
                                        href=""
                                    >
                                        ¿Ya tienes cuenta?
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
       
      </ion-grid>
    </div> 
</ion-content>