
.imagen{
    height: 160px;
    width: 150px;
}

ion-toolbar{
    --background: #048daf 100% ;
    
}

ion-card{
    --background: <img  src="assets/img/fondoavatar.jpg"> ;
}

.circulo{
    width:450px;
    height:300px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.background{
    --background: url(/assets/img/fondo_caja.png) 0 0/100% 100% no-repeat;
}
ion-tab-bar{
    --background: #7ED2D5 ;
    
}
.letratool{      padding: 10px;
    font-size: 20px;
    font-family:monospace;
    color:#f0f0f0 ;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    
}