<ion-content padding >
<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
          <ion-back-button defaultHref="main"></ion-back-button>    
        </ion-buttons>
       
        <ion-title class="letratool" >Perfil</ion-title>
      </ion-toolbar>
</ion-header> 

    <ion-card padding class="background" *ngFor="let dato of asd"  > 
          
       
       <ion-card-header>
        <img class="circulo"  src="{{ dato.foto }}">
       </ion-card-header>

       
          <ion-card-content class="ion-text-center" >
            <h1 >{{ dato.nombre }} </h1>
            <ion-text color="dark">
              <br>
              <div style="display: flex;" class="ion-justify-content-center">
                <ion-icon name="mail-unread" color="dark">
                </ion-icon>
                <h2>
                  {{ dato.email }} 
                </h2>
              </div>
            </ion-text>
            <br>

            <ion-text color="dark">
                <div style="display: flex;" class="ion-justify-content-center">
                  <ion-icon name="balloon-outline" color="dark">
                  </ion-icon>
                  <h2>
                    {{ dato.edad }}
                  </h2>
                </div>
              </ion-text>
              <br>
              <ion-text color="dark">
                <div style="display: flex;" class="ion-justify-content-center">
                  <ion-icon name="male-female-outline" color="dark">
                  </ion-icon>
                  <h2>
                    {{ dato.sexo }}
                  </h2>
                </div>
              </ion-text>
          </ion-card-content>
       
    </ion-card>  
</ion-content>