<ion-content padding >
<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>    
        </ion-buttons>
       
        <ion-title>Perfil</ion-title>
      </ion-toolbar>
</ion-header> 

    <ion-card padding class="background" > 
          
       
       <ion-card-header>
        <img class="circulo"  src="assets/img/avatar.jpg">
       </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1 >Usuario</h1>
            <ion-text color="dark">
              <div style="display: flex;" class="ion-justify-content-center">
                <ion-icon name="location-outline" color="dark">
                </ion-icon>
                <p>0681 Calle, Buin, Chile.</p>
              </div>
            </ion-text>

            <ion-text color="dark">
                <div style="display: flex;" class="ion-justify-content-center">
                  <ion-icon name="mail-outline" color="dark">
                  </ion-icon>
                  <p>usuario@email.com</p>
                </div>
              </ion-text>

              <ion-text color="dark">
                <div style="display: flex;" class="ion-justify-content-center">
                  <ion-icon name="male-outline" color="dark">
                  </ion-icon>
                  <p>Masculino</p>
                </div>
              </ion-text>
          </ion-card-content>
       
    </ion-card>  
</ion-content>