
   <!--TOOLBAR-->
    
        <ion-toolbar >         
          <ion-buttons>           
            <ion-menu-button slot="start"></ion-menu-button>
          </ion-buttons>  
          <ion-title  class="moverletra" color="dark">RECYCLOP</ion-title >         
        </ion-toolbar>
    

     <ion-content>
      <google-map width="100%" height="100%"
      [center]="miPosicion"
      [options]="opcionesDeMapa" 
      [zoom]="zoom"
      (mapClick)="crearMarca($event)"
      >
      <map-marker
      #markerElem 
      *ngFor="let marca of marcas"
      [position]="marca.posicion"
      [label]="marca.etiqueta"
      [options]="marca.opciones"
      (mapClick)="openInfo(map-info-window)"
       >  
      
      </map-marker>
      <map-info-window> asda </map-info-window>
     </google-map>

     
  
     </ion-content>

       <!--TABS-->

      