.tamaño{
    font-size: 30px;
}

ion-toolbar{
  --background: #6ed4cc;
  
}

ion-tab-bar{
  --background: #6ed4cc;
  
}

.moverletra{
  transform: translateX(32%) translateY(-80%);
  top: 50%;
  left: 50%;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
 
}

.map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
.je {
  height: 100%;
  margin: 0;
  padding: 0;
}
