
<ion-content >
    <ion-slides  >      
            <ion-slide class="fondo">
                <img src="assets/img/cajita.png">
                <h3>¡Gracias por elegirnos!</h3>
                
                <p>Empecemos a reciclar</p>
            </ion-slide>
            
            <ion-slide class="fondo2" >
                <img src="assets/img/latita.png">
                <h3>¡Ayuda a cuidar el medio ambiente!</h3>
                <p>Esta app esta hecha para y por personas inspiradas en lo mismo</p>
             </ion-slide>

             <ion-slide class="fondo3"  >
                <img src="assets/img/basurita.png">
                <h3>¡Encuentra tus puntos reciclables mas cercanos!</h3>
                <p></p>
                <ion-button  shape="round"  color ="tertiary" href="main"> <ion-icon name="trash-outline"></ion-icon>Empecemos</ion-button>
            </ion-slide>
        
    </ion-slides>


</ion-content>










