ion-slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
ion-slide{
    color: black;
}

ion-slides{
    height: 100%;
}
.fondo{
background-color:#a74c60 ;
box-shadow: none;
}

img{
    padding: 30px;
    padding-bottom: 90px;
}
.fondo2{
    background-color:#c8e7f5 ;
    box-shadow: none;
    }
.fondo3{
    background-color:#5edf98 ;
    box-shadow: none;
    }
h3{
        font-size: 30px;
        font-family: fantasy;
        color:#7ED2D5 ;
        text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
        
    }
p{      padding: 10px;
        font-size: 20px;
        font-family:monospace;
        color:#7ED2D5 ;
        text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
        
    }