
<ion-content >
    <ion-slides  >      
            <ion-slide class="fondo" >
                <img src="assets/img/basuras.png">
                <h3>¡Te damos la bienvenida!</h3>
                <p>Gracias por ayudarnos a reciclar</p>
            </ion-slide>
       
            <ion-slide class="fondo2" >
                <img src="assets/img/reciclajewelcome.png">
                <h3>¡Cuidemos el medio ambiente!</h3>
                <p>Esta app esta hecha para y por personas inspiradas en lo mismo</p>
             </ion-slide>

             <ion-slide class="fondo3"  >
                <img src="assets/img/empecemos.png">
                <h3>¡Encuentra y califica tus puntos reciclables!</h3>
                <p></p>
                <ion-button  shape="round"  color ="tertiary"> <ion-icon name="trash-outline"></ion-icon>Empecemos </ion-button>
            </ion-slide>
        
    </ion-slides>


</ion-content>










