<ion-content>
    <!--Toolbar-->
    <ion-toolbar >
        <ion-buttons slot="start">
          <ion-back-button defaultHref="main"></ion-back-button>    
        </ion-buttons>
    <ion-title class="letratool" >Favoritos </ion-title>
    </ion-toolbar>
 
    <!-- LISTA-->
    <ion-list>   
        <ion-item>
          <ion-avatar>
              <img src="assets/img/avatar.jpg ">
            </ion-avatar>
            <ion-label>

            <div class="mover" >
            <h2 >Usuario</h2>
            <h3 class="estrella"><ion-icon name="star"></ion-icon>
              <ion-icon name="star" ></ion-icon>
              <ion-icon name="star" ></ion-icon>
              <ion-icon name="star" ></ion-icon>
              <ion-icon name="star-outline" ></ion-icon>
              </h3>
            <p>Punto limpio: Lo blanco</p>
             </div>
          </ion-label>
        </ion-item>
        <br>
        <ion-item>
            <ion-avatar>
                <img src="assets/img/avatar.jpg ">
              </ion-avatar>
              <ion-label>
  
              <div class="mover2" >
              <h2 >Usuario</h2>
              <h3 class="estrella"><ion-icon name="star"></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                </h3>
              <p>Punto limpio: Plaza San Bernardo</p>
               </div>
            </ion-label>
          </ion-item>
          <br>
          <ion-item>
            <ion-avatar>
                <img src="assets/img/avatar.jpg ">
              </ion-avatar>
              <ion-label>
  
              <div class="mover3" >
              <h2 >Usuario</h2>
              <h3 class="estrella"><ion-icon name="star"></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                </h3>
              <p>Punto limpio: Buin</p>
               </div>
            </ion-label>
          </ion-item>
          <br>
          <ion-item>
            <ion-avatar>
                <img src="assets/img/avatar.jpg ">
              </ion-avatar>
              <ion-label>
  
              <div class="mover4" >
              <h2 >Usuario</h2>
              <h3 class="estrella"><ion-icon name="star"></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                </h3>
              <p>Punto limpio: Plaza Buin</p>
               </div>
            </ion-label>
          </ion-item>
          <br>
          <ion-item>
            <ion-avatar>
                <img src="assets/img/avatar.jpg ">
              </ion-avatar>
              <ion-label>
  
              <div class="mover5" >
              <h2 >Usuario</h2>
              <h3 class="estrella"><ion-icon name="star"></ion-icon>
                <ion-icon name="star" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                <ion-icon name="star-outline" ></ion-icon>
                </h3>
              <p>Punto limpio: La Vara</p>
               </div>
            </ion-label>

            
          </ion-item>

      </ion-list>
</ion-content>