<ion-menu  side="start" menuId="main-menu" contentId="main">

  <ion-content  *ngFor="let dato of asd" >
    <div class="menu-header-bg"></div>
    <div class="header-content" >
      <img src="{{ dato.foto }}" > 
      <ion-label>
        <h2> {{ dato.nombre }} </h2>
        <p>{{ dato.email }} </p>
      </ion-label>
    </div>
    <ion-menu-toggle  auto-hide="true" >
    <div class="action-button"   >  
      <ion-button routerLink="perfil" >
        <ion-icon slot="start" name="person" ></ion-icon>
        Perfil
      </ion-button>
    </div>
  </ion-menu-toggle>



    <ion-list  class="menu-items">            
      <ion-item >
        <ion-icon name="battery-half-outline"></ion-icon>
        <ion-label class="moverletra" >Ahorro de bateria</ion-label>
        <ion-toggle name style="object-position: right;"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-label class="moverletra">Uso de GPS</ion-label>
        <ion-toggle checked style="object-position: right;"></ion-toggle>              
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label class="moverletra">GPS activo en deshuso</ion-label>
        <ion-toggle style="object-position: right;"></ion-toggle>                
      </ion-item>
      <ion-item>
        <ion-icon name="notifications"></ion-icon>
        <ion-label class="moverletra">Mostrar notificaciones</ion-label>
        <ion-toggle checked style="object-position: right;"></ion-toggle>
      </ion-item>
    
      <ion-item>
        <ion-icon name="cellular"></ion-icon>
        <ion-label class="moverletra" >Uso de datos moviles</ion-label>
        <ion-toggle style="object-position: right;"></ion-toggle>
      </ion-item>
      <ion-item class="active" >              
        <ion-label>Condiciones de uso</ion-label>              
      </ion-item>
      <ion-item>              
        <ion-label id="pad">Restricciones de ubicacion</ion-label>              
      </ion-item>
      <ion-item>              
        <ion-label id="pad">Eliminar cuenta</ion-label> 
        <ion-icon name="trash" style="object-position: right;"></ion-icon>     
        
       
      </ion-item>
      <ion-menu-toggle  auto-hide="true" >
      <ion-item style="object-position: right;">
        <ion-label >Cerrar Sesión</ion-label>
          <ion-button routerLink="" ><ion-icon name="exit" ></ion-icon></ion-button>        
      </ion-item> 
    </ion-menu-toggle>
      <ion-item>              
        <ion-label id="pad">Version de APP 2.00</ion-label>              
      </ion-item>
     
    </ion-list>
    
  </ion-content>
</ion-menu>
